<h1> Search our properties </h1>
<p> Use search or geolocation to find your next destination</p>
<%= form_tag properties_path, method: :get do %>
  <div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a property"
  %>
  <%= submit_tag "Search", class: "btn btn-success" %>
  </div>
<% end %>


<div class="page">
  <div class="cards">
      <% @properties.each do |property| %>
        <div class="card-product mt-2">
            <%= cl_image_tag property.photos.first&.key %>
            <div class="card-product-infos">
              <h2><%= link_to property.name, property_path(property), class: 'btn btn-flat' %></h2>
              <p><%= property.address %></p>
                <div class="buttons">
                  <p><% if property.user == current_user %>
                      <a class="btn-show"><%= link_to 'Edit', edit_property_path(property), class: 'btn btn-primary' %></a>
                    <% end %>
                    <% if property.user == current_user %>
                      <a class="btn-show"><%= link_to "delete", property_path(property), method: :delete, class: 'btn btn-primary' %></a>
                    <% end %>
                  </p>
                </div>
            </div>
        </div>
      <% end %>
  </div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>