<h1>Hello <%= current_user.email %></h1>
<div class="cards">
  <% current_user.bookings.each do |booking| %>
    <div class="card-product">
      <p> You   have booked <%= booking.property.name %> lovely cottage</p>
      <p> from <strong><%= booking.check_in %></strong> to <strong><%= booking.check_out %></strong> <%= link_to "Details", booking_path(booking), class: "btn btn-primary" %></p>
  </div>
  <% end %>
</div>

<%= link_to "Return to properties list",  properties_path %>
