<h1>Hello <%= current_user.email %></h1>

<% current_user.bookings.each do |booking| %>
  <h4> You   have booked <%= booking.property.name %> lovely cottage</h4>
  <p> from <strong><%= booking.check_in %></strong> to <strong><%= booking.check_out %></strong> <%= link_to "Details", booking_path(booking), class: "btn btn-primary" %></p>
<% end %>


<%= link_to "Return to properties list",  properties_path %>
