<div class="container p-1">
  <h1>Hello <%= current_user.email %></h1>
</div>
<div class="cards-booking">
  <% current_user.bookings.each do |booking| %>
    <div class="card-product-booking">
      <div><p>You have booked <%= booking.property.name %> lovely cottage</p>
      <p><%= booking.check_in %> to <%= booking.check_out %></p></div>
      <p><%= link_to "Details", booking_path(booking), class: "btn btn-primary" %></p>  
    </div>

  <% end %>
</div>

<%= link_to "Return to properties list",  properties_path %>
